[submodule ".registry"]
	path = .registry
	url = https://github.com/scholaempirica/scholaempirica.r-universe.dev
	branch = HEAD
[submodule "reschola"]
	path = reschola
	url = https://github.com/scholaempirica/reschola
